body{

    margin: 0;
    padding: 0;
}
#sidebar{
    background-color: #555 !important;
    height: calc(100vh - 57.6px);
    width: 200px;
}
#sidebar a{
    color: #fff;
}
#sidebar a.active{
    text-decoration: underline;
}
.required-asterisk{
    color:red;
}
@media (max-width:767px) {
    #sidebar{
        width: 50px;
    }
}